.business-department {

	&__header {
		margin-top: 0;
		margin-bottom: 0;
		padding-bottom: 3rem;
	}

	&__item {
		background: $white;
		border-radius: 7px;
		margin: 1rem;
		overflow: hidden;
		color: $color-font-body;
		box-shadow: 0 0 20px  rgba(darken($gray, 35%), .6);

		@include above (sm) {
			width: calc(33.33% - 2rem);
		}

		&:hover {
			
		}
	}

	&__img {
		width: calc(100% + 2rem);
		left: -1rem;
		position: relative;
	}

	&__title {
		margin-top: 0;
		padding-top: 1.5rem;
	}

	&__btn {
		padding-top: 1rem;
		padding-bottom: 3rem;

		span {
			margin-right: 1rem;
		}

		svg {
			width: 30px;
			height: 15px;
			position: relative;
			transition: all ease .3s; 
		}
	}
}