.cta {
	background: no-repeat center center;
	background-size: cover;
	position: relative;
	text-align: center;
	color: $white;
	padding-top: 5rem;
	padding-bottom: 5rem;

	@include above (sm) {
		padding-top: 8rem;
		padding-bottom: 8rem;
		background-attachment: fixed;
	}

	@include above (md) {
		padding-top: 10rem;
		padding-bottom: 10rem;
	}

	@include above (lg) {
		padding-top: 12rem;
		padding-bottom: 12rem;
	}

	&:after {
		background: $gradient;
		opacity: .66;
		position: absolute;
		top: 0;
		left: 0;
		content: '';
		width: 100%;
		height: 100%;
	}

	&__title {
		color: $white;	
		position: relative;
		z-index: 10;
		margin-top: 0;
	}

	&__btn, &__text {
		position: relative;
		z-index: 10;
		font-weight: 600;
	}

	&__btn {
		margin-top: 2rem;
	}
}