.employee {

	&__header {
		margin-top: 0;
		padding-bottom: 3rem;
	}

	&__item {
		border-radius: 7px;
		margin: 1rem;
		box-shadow: 0 0 20px  rgba(darken($gray, 35%), .6);
		background: $white;
		overflow: hidden;
		width: 100%;

		@include above (xs) {
			width: calc(50% -  2rem);
			margin: 1rem;
		}

		@include above (sm) {
			width: calc(33.33% - 2rem);
		}

		@include above (lg) {
			width: calc(25% - 2rem);
		}
	}

	&__img {
		min-height: 15rem;
		background: no-repeat center center;
		background-size: cover;
		width: calc(100% + 2rem);
		left: -1rem;
		position: relative;
	}

	&__position {
		font-size: 14px;
		color: darken($gray, 25%);
	}

	&__name {
		color: $color-font-body;
		margin-bottom: 0;
		margin-top: 0;
		padding-bottom: 1rem;
	}

	&__content {
		padding: 1rem;

		.fa {
			color: $blue;
			margin-right: .2rem;
		}

		.fa-linkedin {
			&:hover {
				color: $green;
			}
		}
	}

	&__link {
		display: block;
		color: $blue;
		transition: all ease .3s;

		&:hover {
			color: $green;
		}
	}
} 