/********************FOOTER********************/

/*
 * This file should house all of the styles for
 * footer.php.
 */

.footer {
	position: relative;
	color: $white;
	overflow: hidden;

	@include below (sm) {
		background: $gradient;
		padding-bottom: 1rem;
	}

	@include above (sm) {
		padding-top: 6rem;
		padding-bottom: 6rem;

		&:before {
			position: absolute;
			background: $gradient;
			width: 102%;
			height: 112%;
			content: '';
			bottom: -22%;
			left: -2.6%;
			z-index: 0;
			border-radius: 1.5rem;
			transform: rotate(-1deg);
		}

		&:after {
			position: absolute;
			background: $gray;
			width: 102%;
			height: 112%;
			content: '';
			bottom: -18%;
			left: -2%;
			z-index: -1;
			border-radius: 1.5rem;
			transform: rotate(-1deg);
			z-index: -1;
		}
	}

	@include above (md) {
		padding-top: 7rem;
		padding-bottom: 7rem;
	}

	@include above (lg) {
		padding-top: 8rem;
		padding-bottom: 8rem;
	}

	&__item {

		a {
			color: $white;
			transition: all ease .3s;

			&:hover {
				color: $green;
			}
		}
		
		p {
			@include above (sm) {
				margin-bottom: 0;
			}
		}
	}

	&__title {

	}
}
