.mc4wp-form-fields {

	@include above (sm) {
		display: flex;
		justify-content: center;
	}

	p {
		margin: 0;
	}

	input[type="email"] {
		border-top: 3px solid $green;
		border-left: 3px solid $green;
		border-bottom: 3px solid $green;
		padding: .72rem 2rem;
		border-top-left-radius: .5rem;
		border-bottom-left-radius: .5rem;
		outline: none; 
		transition: all ease .3s;

		&:focus {
			
		}

		@include below (sm) { 
			border-right: 3px solid $green;
			border-top-right-radius: .5rem;
			border-bottom-right-radius: .5rem;
		}
	}

	input[type="submit"] {
		padding: .9rem 2rem;
		border-top-right-radius: .5rem;
		border-bottom-right-radius: .5rem;
		background-color: $green;
		color: $white;
		border: none;
		position: relative;

		@include below (sm) {
			border-top-left-radius: .5rem;
			border-bottom-left-radius: .5rem;
			margin-top: 1.5rem;
		}

		@include above (sm) {
			left: -.1rem;
		}

		&:hover {
			cursor: pointer;
		}
	}
} 

//gform

//gravity forms

.gform {
	&_wrapper {
		margin: 0 !important;
		max-width: none !important;
	}

	&_body {
		width: 100% !important;
		text-align: center;
	}

	&_fields {
		list-style: none;
		padding-left: 0;
	}

	&_title {
		font-size: 3rem !important;
		font-weight: 400 !important;
	}

	// Submit
	&_button {
		margin: 0 !important;
		display: inline-block;
		-webkit-appearance: none;
		cursor: pointer;
		transition: all .3s ease; 
		outline: none;
		border: none;

		@media (max-width: 641px) { 
			line-height: 1.5!important;
		}

		@extend .btn--green, .btn;

		&:hover {

		}
	}

	// Submit wrapper
	&_footer {
		text-align: center;
	}
}

/**
 * Form fields
 **/

.gfield {
	margin-bottom: 1.5rem;
	padding-right: 0 !important;

	// Labels
	&_label {
		display: none !important;
	}

	&_required {
		color: red;
	}

	// Description
	&_description {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}

	// Fields
	input[type="email"],
	input[type="text"],
	textarea {
		display: block;
		padding: .5rem;
		line-height: 1 !important;
		background: $gray;
		border: none;
		-webkit-appearance: none;
		border-radius: 4px;
		transition: all 0.3s ease;
		padding: 8px 5px!important;
		text-indent: .25em;
		margin-left: auto;
		margin-right: auto;

		&:hover, &:focus {
			
		}

		&:focus, &:active, &:visited {
			color: $blue;
			outline: none;
		}
	}

	textarea {
		overflow: hidden;
	}
}

@media (min-width: 641px) { 
	.gf_right_third, .gf_middle_third {
		padding-left: 1rem;
	}
}

/**
 * Validations
 **/

.validation_error {
	color: red !important;
	text-align: left !important;
	border-top: none !important;
	border-bottom: none !important;
	padding: 0 !important;
}

.gfield_error {
	min-width: 100%!important;
	border: none !important;
	padding: 0 !important;
	background: transparent !important;

	.gfield_label,
	.gfield_required {
		color: red !important;
	}

	.validation_message {
		color: red !important;
		font-size: 1.2rem !important;
	}

	input[type="email"],
	input[type="text"],
	textarea {
		border: 0.2rem solid red !important;
	}
}