/********************HEADER********************/

/*
 * This file should house all of the styles for
 * header.php.
 */

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 200;
  padding-top: 1.5rem;
  
  &__logo {
    display: block;
    float: left;
    position: relative;
    z-index: 100000000;

    img {    	
      width: 155px;
      height: 43px;
      
      @include between (sm, md) {	
    		width: 100px;
    		height: 28px;
      }
    }
  }
}