/********************LAYOUTS********************/

/* Base Styles */
@include below (sm) {

  .wysiwygs__col--1 {
    h1, h2, 
    h3, h4, 
    h5, h6 {
      margin-top: 0;
    }
  }
}

.blue--bg {
  color: $white;
}

/* WYSIWYGs */
.wysiwygs {
  [class^="row-"], [class*=" row-"] { 
    // row-specific styles here

  }

  &__title {
    @include below (sm) {
      margin-top: 0;
    }
  }

  &__col {

    a {
      color: $color-font-body;
      transition: all ease .3s;

      &:hover {
        color: $green;
      }
    }
	
  	@include above (sm) {
    		&.first {
    			p:last-child {
  			     margin-bottom: 0;
  			   }
    		}
    	}
  	
  	&.last {
  		p:last-child {
  			margin-bottom: 0;
  		}
  	}
  }
}


.flex {
	display: flex;

	&--hvalign {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&--valign {
		align-items: center;
		justify-content: center;
	}

	&--justify {
		justify-content: space-between;
	}

	&--center {
		align-items: center;
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--end {
		justify-content: flex-end;
	}
}


.padding {

  &--top {
    padding-top: 3rem;
    
    @include above (sm) {
      padding-top: 3rem;
    }

    @include above (md) {
      padding-top: 4rem;
    } 

    @include above (lg) {
      padding-top: 5rem;
    }
  }

  &--bottom {
    padding-bottom: 3rem;
    
    @include above (sm) {
      padding-bottom: 3rem;
    }

    @include above (md) {
      padding-bottom: 4rem;
    } 

    @include above (lg) {
      padding-bottom: 5rem;
    }
  }

  &--both {
    padding-top: 3rem;
    padding-bottom: 3rem;

    @include above (sm) {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }

    @include above (md) {
      padding-top: 5rem;
      padding-bottom: 5rem;
    } 

    @include above (lg) {
      padding-top: 7rem;
      padding-bottom: 7rem;
    }
  }
}

.margin {

  &--top {
    
  }
  
  &--bottom {
    
  }

  &--both {
  
  }

  @include above (sm) {

    &--top {
      
    }

    &--bottom {
      
    }

    &--both {
   
    }
  }
}

.gradient--bg {
  background: $gradient;
  color: $white;
}