.link-boxes {
 
	&__header {

	}

	&__item {
		margin-bottom: 3rem; 

		@include below (sm) {
			width: 100%;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__icon {
		max-width: 100px;
		height: auto;
		position: relative;
		margin: auto;

		&:before {
			background: $gray;
			border-radius: 50%;
			width: 180px;
			height: 120px;
			content: ''; 
			position: absolute;
			z-index: -1;
			left: 50%;
			transform: translateX(-50%) rotate(-25deg);
		}		
	}

	&__title {

	} 

	&__btn {
		padding-top: 1rem;
		color: $color-font-body;

		span {
			margin-right: 1rem;
		}
	}
}