/**
 * Navigation
 **/

.nav {

	/**
	 * Mobile menu panel
	 **/

	&__menu {
	    list-style: none;
	    position: absolute;
	    z-index: 100;
	    width: 100%;
	    top: 1rem;
	    left: 0;
	    margin: 0;
	    padding: 0;

		@include above (sm) {
			position: relative;
			width: auto;
			top: 0;
			float: right;
			display: block !important;
		}
	}

	&__item {
		list-style: none;
		padding: .5rem 1rem;
		position: relative;
		opacity: 0;

		@include between (sm, md) {
			padding: 1rem .3rem;
			font-size: 14px;
		}

		@include above (sm) {
			float: left;			
			display: inline-block;
			transition: all ease .3s;
			opacity: 1;
		}

		@include above (md) {
			padding: 1rem .5rem;
		}

		&.is-animated {
			opacity: 1;
			transform: translateY(-1rem);
			transition: all ease .6s;
			transition-delay: .6s;
		}

		a {
			color: $white;
			transition: all ease .3s;

			&:hover {
				color: $green;
			}
		}

		&.is-active > a {
			color: $green;
			font-weight: 600;
		}

		&.is-dropdown {

			&:hover {
				.nav__dropdown {
					display: block;
				}
			}
		}
	}


	&__dropdown {
		padding: 1rem 0rem;
		top: 100%;
		background: transparent;

		@include below (sm) {
			transform: translateY(1rem);
		}

		@include above (sm) {
			position: absolute;
			background: $blue;
			display: none;
		}

		&.is-visible {
			display: block;
		}

		li {
			padding: 0.5rem 1rem;
		}

		a {
			white-space: nowrap;

			&:hover {
				text-decoration: none;
			}
		}
	}
	


	&--mobile {
		
		@include below (sm) {
			position: fixed;
			z-index: 78888;
			top: 86px;
			left: 0;
			height: calc(100% - 86px);
			width: 100%;
			transform: translateX(-100%);
			transition: transform .6s;
			transition-timing-function: cubic-bezier(1, 0, 0, 1); 
			background: $gradient;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;

			&.is-open {
				transform: translateX(0);
			}

			
			@at-root {
				body.is-fixed {
					@media (max-width: 768px) {
						overflow: hidden;
						position: fixed;
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}

	/**
	 * Mobile menu toggle
	 **/

	&-toggle {
		display: block;
		position: absolute;
		z-index:  88888;
		right: 1rem;
		padding-top: 1.1rem;
		padding-bottom: 1.1rem;
		cursor: pointer;

		@include above (sm) {
			display: none;
		}

		&__label {
			color: $white;
			font-weight: 600;
			font-size: 12px;
			vertical-align: middle;
			padding-right: .3rem;
		}

		&__icon {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: 1.5rem;
			height: 3px;
			background: $white;
			transition: all .3s ease;

			&::before,
			&::after {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 3px;
				background: $white;
				transition: all .3s ease;
			}

			&::before {
				bottom: -.45rem;
			}

			&::after {
				top: -.45rem;
			}

			body.is-fixed & {
				background: transparent;

				&::before {
					top: 0;
					transform: rotate(45deg); 
				}

				&::after {
					top: 0;
					transform: rotate(-45deg);
				}
			}
		}
	}
}