.news {
	background: no-repeat center center;
	background-size: cover;
	padding-bottom: 3rem;

	@include above (sm) {
		padding-top: 6rem;
		padding-bottom: 6rem;
	}

	@include above (md) {
		padding-top: 7rem;
		padding-bottom: 7rem;
	}

	@include above (lg) {
		padding-top: 8rem;
		padding-bottom: 8rem;
	}

	&__title {
		padding-bottom: 2rem;
	}
}