/********************PAGE********************/

/*
 * This file should house all of the styles for any
 * page template, i.e. page.php or page-{rename}.php.
 */

.page {
	
	&__hero {
		color: $white;
		position: relative;

		@include below (sm) {
			background: $gradient;
		}

		@include above (sm) {
			&:before {
				position: absolute;
				background: $gradient;
				width: 102%;
				height: 112%;
				content: '';
				top: -20%;
				left: 0;
				z-index: 0;
				border-radius: 1.5rem;
				transform: rotate(-5deg);
			}

			&:after {
				position: absolute;
				background: $gray;
				width: 102%;
				height: 112%;
				content: '';
				top: -17%;
				left: -.7%;
				z-index: -1;
				border-radius: 1.5rem;
				transform: rotate(-5deg);
				z-index: -1;
			}
		}

		@include above (xl) {
			&:before {
				height: 132%;
				top: -40%;
			}

			&:after {
				height: 132%;
				top: -37%;
			}
		}
	}

	&__intro {
		@include between (sm, md) {
			padding-left: 2rem;
		}

		@include above (sm) {
			br {
				display: none;
			}
		}
	}

	&__title {
		text-transform: uppercase;
	}  

	&__btn {
		@include below (sm) {
			margin-bottom: 1rem;
		}

		@include above (sm) {
			margin-right: .5rem;
		}
	}

	&__img {
		position: relative;
		top: 4rem;
		text-align: center;

		@include above (sm) {
			top: 8rem;
		}
	}

	&__video {
		
		&--link {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			background-clip: content-box;
			background-position: center;
			background-size: cover;
			border-radius: 7px;
    		overflow: hidden;

			&:before {
				background: $black;
				opacity: .4;
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				content: '';
				z-index: 0;
				transition: all ease .3s;
			}

			&:hover::before {
				opacity: 0;
			}
		}

		&--play {
			color: $green;
			font-size: 42px;
			z-index: 10;
		}
	}
}
