.pricetabel {

	&__container {
		flex-direction: column;
	}

	&__heading {
		margin-top: 0;
		padding-bottom: 1rem;

		&--subheader {
			padding-bottom: 4rem;
		}
	}

	&__calc {
		padding-bottom: 1.5rem;

		@include above (sm) {
			padding-bottom: 3rem;	
		}

		strong {
			display: block;
		}
	}

	&__btn {
		width: 80px;
	    height: 40px;
	    margin: 10px;
	    border-radius: 50px;
	    display: inline-block;
	    position: relative;
	    background: $green;
	 	position: relative;
	}

	&__item {
		background: $gray;
		border-radius: 7px;
		color: $blue;
		display: flex;
    	flex-direction: column;
    	justify-content: space-between;
    	width: 100%;

    	@include below (sm) {
    		margin-bottom: 1.5rem;
    		margin-left: 1rem;
    		margin-right: 1rem;
    		padding-top: 1.5rem;

    		&:last-child {
    			margin-bottom: 0;
    		}
    	}

    	@include above (sm) {
			width: calc(33.3% - 2rem);
			margin: 1rem;
			padding-top: 2rem;
			padding-bottom: 1rem;
		}

		&--featured {
			background: $green;
			color: $white;
			position: relative;
			
			
			@include above (sm) {
				border-radius: 0;

				&:before, &:after {
					position: absolute;
					content: '';
					left: 0;
					height: 1.5rem;
					width: 100%;
					background: $green;
				} 

				&:before {
					top: -1.5rem;
					border-top-right-radius: 7px;
					border-top-left-radius: 7px;
				}

				&:after {
					bottom: -1.5rem;
					border-bottom-right-radius: 7px;
					border-bottom-left-radius: 7px;
				}
			}

			.pricetabel__header {

				&:before {
					background: darken($green, 5%);
				}
			}
		}
	}

	&__header {
		position: relative;
		margin-bottom: 2rem;
		font-weight: 600;

		&:before {
			position: absolute;
			bottom: -.5rem;
			width: 90%;
			height: 2px;
			content: '';
			background: darken($gray, 5%);
			left: 5%;
		}
	}

	&__title {
		margin-top: 0;
	}

	&__content {
		font-size: 15px;
	}

	&__price {
		font-weight: 600;
		position: relative;
		font-size: 26px;

		span {
			font-size: 18px;
		}

		@include above (sm) {
			font-size: 36px;
		}

		&--monthly, &--proanno {
			position: relative;

			&.is-hidden {
				display: none;
			}

			&.is-active {
				display: block;
				animation: fade-in 1s;
				animation-iteration-count: 1;
			}
		}
	}

	&__phone {
		padding-bottom: 3rem;
		font-weight: 600;
		color: $white!important;

		@include above (sm) {
			font-size: 30px;
		}
	}
}