.quote {

	&__item {
		width: 100%;
		border-radius: 7px;

		@include above (sm) {
			width: calc(50% - 1rem);
			margin: .5rem;
		}

		i {
    		float: left;
    		font-size: 40px;
    		padding-right: 1rem;
    		color: $green;
    	}

    	a {
			color: $color-font-body;
			transition: all ease .3s;

    		&:hover {
    			color: $green;
    		}
    	}
	}

	&__title {
		margin-top: 0;
		padding-top: 1.5rem;
	}

	&__text {
		font-style: normal;
		font-size: 15px;
	}
}