.testimonial {
	background: no-repeat center center;
	background-size: cover;
	color: $white;
	position: relative;
	padding-top: 3rem;
	padding-bottom: 3rem;

	@include above (sm) {
		padding-bottom: 5rem;
		padding-top: 5rem;
	}

	@include above (md) {
		padding-top: 7rem;
		padding-bottom: 7rem;
	}

	@include above (lg) {
		padding-bottom: 8rem;
		padding-top: 8rem;
	}

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		background: $blue;
		width: 100%;
		height: 100%;
		content: '';
		opacity: .7;
	}

	&__item {
		position: relative;
	}

	&__title {
		margin-top: 0;
		margin-bottom: 0;
		padding-bottom: 2.5rem;
	}

	&__quote {
		line-height: 1.5;

		@include above (sm) {
			line-height: 2;
		}

		&:before, &:after {			
			font-family: 'Font Awesome 5 free';
			font-weight: 900; 
			color: $green;
			font-style: normal;

			@include above (sm) {
				position: absolute;
			}
		}

		&:before {
			content: '\f10e';
			transform: rotate(180deg);
			padding-right: .2rem;
			left: 0;

			@include above (sm) {
				
				padding-right: 0rem;
			}
		}

		&:after {
			transform: rotate(-180deg);
			content: '\f10d';
			padding-left: .2rem;
			right: 0;

			@include above (sm) {
				padding-left: 0rem;
			}
		}
	}
}