.transition {

	&__pace {
		position: fixed;
		top: 0;
		width: 0;
		height: 5px;
		background: $green;
		z-index: -1;
		right: 0;
		transition: all .8s; 
		transition-timing-function: cubic-bezier(1, 0, 0, 1); 

		&.is-active {
			z-index: 200;
			width: 100%;
			left: 0;
		}
	}

	&__overlay {
		position: fixed;
		width: 0;
		height: 100%;
		transition: width .8s;
		transition-timing-function: cubic-bezier(1, 0, 0, 1); 
		background: $gradient;
		z-index: 100;
		right: 0;

		&.is-active {
			width: 100%;
			left: 0;
		}
	}
}