@keyframes fade-in {
  0%   { 
  	opacity: 0;
  	left: -.5rem;
  }

  100% {
	opacity: 1;
	left: 0;
  }
}

@keyframes slide-in {
  0%   { 
  	left: 0;
  }

  50% {
  	left: 100%;
  }

  100% {
	left: 0;
  }
}