.btn {
	padding: .7rem 2rem;
	display: inline-block;
	position: relative;
	transition: all ease .3s;
	border-radius: .6rem;
	font-weight: 600;

	&--green {
		background: $green;
		color: $white!important;

		&:hover {
			background: $green-light;
		}
	}

	&--gray-light {
		background: $gray;
		color: $color-font-body;


		&:hover {
			background: darken($gray, 10%);
		} 
	}   

	&--toggle {
	    left: 0;
	    right: 0;
	    width: 100%;
	    height: 100%;
	    z-index: 9;
	    cursor: pointer;
	    position: absolute;
	    outline: none;
	    border: none;
	    border-radius: 0;
	    -webkit-appearance: none!important;
	    background: $green;
	    border-radius: 50px;

		&:after {
			content: '';
		    width: 30px;
		    height: 30px;
		    background-color: $white;
		    border-radius: 50%;
		    display: inline-block;
		    position: absolute;
		    left: 5px;
		    top: 50%;
		    margin-top: -15px;
    		transition: all .3s ease-in-out;
    		box-shadow: inset 0 0 10px darken($gray, 35%);
		}

		&.is-active {

			&:after {
				left: 45px;
			}
		}
	}
}