h1, h2,
h3, h4,
h5, h6 {
	font-weight: 600;
}


/* Headings */ 
$headings: (
  h1: (2, 1.8, 4, 1),
  h2: (1.6875, 1.5, 2.5, 0.5),
  h3: (1.375, 1, 2, 0.5),
  h4: (1.2, 1, 1.5, 0.5),
  h5: (1, 1, 2.5, 0.5),
  h6: (1, 1, 2.5, 0.5)
);

// Set headings sizes, line-heights and margins
@each $heading, $properties in $headings {
  #{$heading}, .#{$heading} {
    font-size: unquote(nth($properties, 1) + 'rem');
    @include line-height(nth($properties, 2));
    @include margin-top(nth($properties, 3));
    @include margin-bottom(nth($properties, 4));
  }
}

@include above (sm) {
  $leading-rem: $leading-rem-desktop;

  @each $heading, $properties in $headings {
    #{$heading}, .#{$heading} {
      @include line-height(nth($properties, 2));
      @include margin-top(nth($properties, 3));
      @include margin-bottom(nth($properties, 4));
    }
  }
}

// Set margins between headings
h1 + h2, .h1 + .h2 {
  @include margin-top(1);
  @include above (sm) {
    $leading-rem: $leading-rem-desktop;
    @include margin-top(1);
  }
}

h2 + h3,
.h2 + .h3,
h3 + h4,
.h3 + .h4,
h4 + h5,
.h4 + .h5 {
  @include margin-top(0.5);
  @include above (sm) {
    $leading-rem: $leading-rem-desktop;
    @include margin-top(0.5);
  }
}

h5 + h6, .h5 + .h6 {
  @include margin-top(-0.5);
  @include above (sm) {
    $leading-rem: $leading-rem-desktop;
    @include margin-top(-0.5);
  }
}


// Change headings font if a heading font is set
@if $font-headings != null {
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    font-family: $font-headings;
  }
}